---
const { href } = Astro.props;
---

<a
  aria-label="Social Media"
  href={href}
  target="_blank"
  class="flex items-center border border-dark dark:border-light p-4 rounded-lg justify-center transition-transform duration-150 hover:scale-125"
>
  <slot />
</a>
