---
---

<section>
  <h2>Get in contact with me!</h2>
  <form action="" class="flex flex-col">
    <label>
      Email:
      <input type="email" name="email" required />
    </label>
    <label>
      Message
      <input type="text" name="message" required />
    </label>
    <button><p>Submit</p></button>
  </form>
</section>
